
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486216483830'); /* IE9*/
  src: url('iconfont.eot?t=1486216483830#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486216483830') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486216483830') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486216483830#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close1:before { content: "\e60d"; }

.icon-close:before { content: "\e779"; }

.icon-like:before { content: "\e790"; }

.icon-myline:before { content: "\e792"; }

.icon-myshape:before { content: "\e793"; }

.icon-search:before { content: "\e797"; }

.icon-time:before { content: "\e7a6"; }

.icon-up:before { content: "\e7a8"; }

.icon-collect:before { content: "\e7b1"; }

.icon-failed:before { content: "\e7b6"; }

.icon-sale:before { content: "\e7cb"; }

.icon-setting:before { content: "\e7cd"; }

.icon-discovery2line:before { content: "\e7d3"; }

.icon-information:before { content: "\e7e6"; }

.icon-discovery2shape-copy:before { content: "\e82c"; }

.icon-icon21:before { content: "\e82f"; }

.icon-icon2:before { content: "\e830"; }

