<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
</head>
<body>
	<form method="post">
		<input type="text" placeholder="title" name="title"><br>
		<textarea placeholder="content" name="content"></textarea><br>
		<textarea placeholder="abstract" name="abstract"></textarea><br>
		<input type="text" placeholder="tags" name="tags"><br>
		<input type="text" placeholder="type" name="type"><br>
		<input type="submit">
	</form>
</body>
</html>